<div class="reg_form">
<form #userform="ngForm" (submit) ="adduser(userform)">


    <h2>Edit Profile</h2> <br>

    <input type="file" name="pic" placeholder="" ngModel ><br><br>
    <input type=" text" placeholder=" First Name" name="firstname" required maxlength [(ngModel)]="firstname"> <br><br>
    <input type=" text" placeholder="Last Name" [(ngModel)]="lastname"><br><br>
    <input type=" email" placeholder="Email" [(ngModel)]="email"><br><br>
    <input type="number" placeholder="(+91 )" [(ngModel)]="number"><br><br>

Age <input type="range" [title]="age" [(ngModel)]="age" min="20" max="60">
<br>
<br>


<input type="text" placeholder="State" [(ngModel)]="state"><br><br>
<input type="text" placeholder="Country" [(ngModel)]="country"><br><br>
<input type="text" placeholder="Address" [(ngModel)]="address"><br><br>
<input type="text" placeholder="Tags" [(ngModel)]="tags"
(mouseout)="showtag()"><br><br>
<button *ngFor="let data of tags_values">
    {{data+ " x"}}
</button>
<br>

<input type="checkbox">Subscribe to our news letter
<br><br>

<button class="btn1">Cancel</button>
<button class="btn2">Submit</button>
</form>
</div>